<div class="main">
    <div class="content">
    	
    	<div class="section group">
				<div class="cont-desc span_1_of_2">
				  <div class="product-details">				
					<div class="grid images_3_of_2">
						<div id="container">
						   <div id="products_example">
								 <div id="products">
								 <a href="#"><img src=<%= @laptop.image1%> alt=" " /></a>
								<ul class="pagination">
									<li><a href="#"><img src=<%= @laptop.image1%> alt=" " /></a></li>
									<li><a href="#"><img src=<%= @laptop.image2%> alt=" " /></a></li>
									<li><a href="#"><img src=<%= @laptop.image3%> alt=" " /></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="desc span_3_of_2">
					<h2><%= @laptop.name%></h2>			
					<div class="price">
					</div>
					<%= form_with model: @order_item do |f| %>
            <h4 class="text-left">Unit Price: <span style="color: red"><%= number_to_currency @laptop.price %>VND</span></h4>
			<p><%=@laptop.descripetion%></p>
			<div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
				<%= f.hidden_field :laptop_id, value: @laptop.id %>
              <%= f.submit "Add to Cart", class: "btn btn-danger", id: "btn1"%>
              </div>
            </div>
				  <%end%>
				 <div class="wish-list">
				 	<ul>
				 		<li class="wish"><a href="#">Add to Wishlist</a></li>
				 	    <li class="compare"><a href="#">Add to Compare</a></li>
				 	</ul>
				 </div>
			</div>
			
			<table class="table">
		<thead>
			<tr>
			  <th>Brand</th>
        <th>Ram</th>
        <th>Monitor</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
			<tr>
			  <td><%= @laptop.brand.name%></td>
        <td><%= @laptop.ram%></td>
        <td><%= @laptop.monitor%></td>
        <td><%=@laptop.weight%></td>
      </tr>
    </tbody>
	</table>
			<div class="clear"></div>
		  </div>
	
	    <script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion           
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
   </script>		
   <div class="content_bottom">
    		<div class="heading">
    		<h3>Related Products</h3>
    		</div>
    		<div class="see">
    			<p><a href="#">See all Products</a></p>
    		</div>
    		<div class="clear"></div>
    	</div>
	 <div class="section group">
	   <% @relates.each do |f|%>
				<div class="grid_1_of_4 images_1_of_4">
				 <img src=<%= f.image1%> alt="">
					 <div class="price" style="border:none">
					       		<div class="add-cart" style="float:none">								
									<h4><%= link_to "Show Details",f%></h4>
							     </div>
							 <div class="clear"></div>
					</div>
				</div>
			<%end%>
			</div>
        </div>
				<div class="rightsidebar span_3_of_1">
					<h2>Brand</h2>
					<ul class="side-w3ls">
					   <% @brands.each do |b|%>
							<li><%= link_to b.name,b%></li>
						 <%end%>
    				</ul>
    				<div class="subscribe">
    					<h2>Newsletters Signup</h2>
    						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.......</p>
						    <div class="signup">
							    <form>
							    	<input type="text" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';"><input type="submit" value="Sign up">
							    </form>
						    </div>
      				</div>
      			
      				 </div>
 				</div>
 		</div>
 	</div>
    </div>
 </div>
 <script language="javascript">
                 var button = document.getElementById("btn1");
                 button.onclick = function(){
                 alert("Add to Cart success");
                 }
 </script>